@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rehoming</h1>
    <p>A dog is for life, not just for Christmas!</p>
    <img src="~/img/english-cocker-spaniel_574_0_orig.jpg" />
 </div>
